@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Poppins:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.navbar
{
    display: flex;
    display:flex;
    top:0;
    width:100%;
    padding: 10px 10px;
   border-bottom: 1px solid grey;

}
.name
{
    margin-right:auto;
    font-size:30px;
}
.headline
{
    font-size: 15px;
}
.navbar ul {
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
  }
.navbar a{
    text-decoration: none;
    color:grey;
    font-size: 20px;
}
.navbar li {
    float: right;
    margin:20px;
  }
.About {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display:flex;
  }
.box{
    display: inline-block;
    padding: 1rem 1rem;
  }
.box h2{
    margin-top:20px;
    text-align: left;
}
.box p{
    margin-top:20px;
    text-align: left;
}
.location
{
    max-width:fit-content;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 30px; 
    padding: 10px;
}
.box1img{
    width:50%;
    height: 50%;
}
/* Insights box starts */
.Insights
{
    padding:10px 10px;
    background-color:#e8eaed;
}
.Insights h1{
    color: #4285f4;
}
.container h1{
    color: #4285f4;
    font-size:50px;
}

.container-box
{
    padding:30px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Insights box ends */

/*Activity box starts */
.Activity
{
    padding:10px 10px;
}
.activity-container
{
    text-align: center;
}
.activity-container h2
{
    color: #202124;
    margin-bottom: 10px;
    text-align: center;
}
.activity-container p
{
    max-width:200px;
    text-align: center;
}

.activity-container-box
{
    padding:30px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*Activity box ends */


